body {background:url('../img/bg.jpg?d=20191029') top center no-repeat #b62524;margin: 0 auto;}
div {display: block;}
#dPageHolder {position: relative;width:100%;max-width: 1200px;margin: 0 auto;z-index: 0;}
#DownloadBtn{position:absolute;top: 1150px;left: 273px;width:652px;height:162px;background:url('../img/downloadBtn_nor.png') top center no-repeat;cursor:pointer;}
#DownloadBtn:hover{background-image:url('../img/downloadBtn_active.png');}
.downloadBtn{position:absolute;top: 1155px;width:521px;height:132px;background-position:top center;background-repeat:no-repeat;cursor:pointer;}
#DownloadBtn_APK{left: 66px;background-image: url('../img/downloadBtn_apk_nor.png');}
#DownloadBtn_APK:hover{background-image: url('../img/downloadBtn_apk_active.png');}
#DownloadBtn_iOS{left: 615px;background-image: url('../img/downloadBtn_ios_nor.png');}
#DownloadBtn_iOS:hover{background-image: url('../img/downloadBtn_ios_active.png');}
.part1,.part2,.part3,.part4,.part5 {float: left;height: auto;width:100%;}
.preload{display:none;}

@media (max-width: 1190px){
    #dPageHolder{max-width:1200px;}
    #DownloadBtn{position:absolute;top:0;left:0;margin-top: 94%;margin-left: 18%;width:63.672%;background-size:contain;cursor:pointer;}
    #DownloadBtn:hover{background-size:contain;}
    .downloadBtn{position:absolute;top:0;margin-top: 97%;width:43.782%;background-position:top center;background-repeat:no-repeat;background-size:contain;cursor:pointer;}
    #DownloadBtn_APK,#DownloadBtn_APK:hover{left:0;margin-left: 5%;background-size:contain;}
    #DownloadBtn_iOS,#DownloadBtn_iOS:hover{left:0;margin-left: 51%;background-size:contain;}
    .part1,.part2,.part3,.part4,.part5 {padding:0;margin:0;}
    /*.img-responsive {margin-top: 0px;}*/
}